
.fotobabi{
    min-height: 280px ;
    min-width: 280px;
    max-width: 400px;
    width: 80vw;
    height: 400px;
    border: 7px solid black;
}

body{
    background-color: rgba(121, 165, 110, 0.568);
}
 .section1{
    position: relative;
    padding: 20px;

}
.titulo{
    position: relative;
    top: 100px;
    font-size: 30px;
}

.paragrafo{
    position: relative;
    top: 120px;
    padding-top: 10px;
    font-size: 20px;
    width: 50%;
    
}
