.fotobabi{
    min-height: 280px ;
    min-width: 280px;
    max-width: 360px;
    width: 80vw;
    height: 320px;
    border-radius: 10px;
}

main {
    padding: 20px;
    /* margin-bottom: 300px; */
    min-height: 60vh;
    margin-top: 80px;
    min-height: calc(100vh - 80px - 190px -40px);
}

.fotobabi:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
.container{
    min-height: calc(100vh - 80px - 190px - 40px);
    /* o 1oovh é do */
    /* o 80px é do */
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body{
    background-color: rgba(121, 165, 110, 0.568);
}
 .section1{
    position: relative;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 60px;


}

.subtitulo{
    position: relative;
    margin-top: 40px;
    font-size:30px ;
    font-weight: bold;
    margin-bottom: 25px;
}
.titulo{
    position: relative;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}

.paragrafo{
    position: relative;
    font-size: 25px;
    /* width: 70%; */
    margin-bottom: 25px;
    
}
.links_main{
    text-decoration: none;
}
.links_main p{
    font-family: "Poppins", sans-serif;
    font-weight: 850;
    font-size: 14px;
    text-decoration: none;
    color: rgb(9, 9, 129);
    text-align: justify;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;

}

.figura_container {
    width: min-content;
}

.foto_hist{
    height: 800px;
    width: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.container-direito {
    width: 30%;
}
.container-texto-foto {
    display: flex;
}

.f{
    min-width: 320px;
    max-width: 360px;
    width: 80vw;
    /* height: 320px; */
    border-radius: 15px;

}