.navegador{
    background-color: red;
    height:  80px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    
}