.menuBar {
    background-color: beige;
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.containerMenu {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.containerMenu li {
    position: relative;
    padding: 10px 15px;
}

.containerMenu a {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
}

.dropdownMenu li {
    padding: 10px 15px;
}

.dropdownMenu li:hover {
    background-color: #f0f0f0;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.logo {
    width: 50px;
    height: auto;
}




@media (max-width: 400px) {
    .hamburger {
        display: flex;
    }

    .containerMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: beige;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menuOpen {
        display: flex;
    }

    .containerMenu li {
        text-align: center;
        padding: 15px 0;
    }
}